body {
    padding-top: 20px;
    text-align: center;
    background-image: url("imgs/old_map.png");
}

#page {
    width: 960px;
    margin: 0 auto;
    text-align: left;
}

header {
    font-family: Courier;
    font-size: 1.1em;
    color: white;
    background-color: #313B44;
    border-bottom: 6px solid black;
}

header h1 {
    background-image: url("imgs/foto.png");
    background-repeat: no-repeat;
    background-position: 25px center;
    padding: 20px 100px;
}

nav {
    font-family: Courier;
    font-size: 1.4em;
    color: silver;
    text-align: center;
    background-image: url("imgs/red015.jpg");
}

nav ul li {
    padding-top: 80px;
    margin: 0 50px 20px 50px;
    list-style: none;
    display: inline-block;
    text-align: center;
    cursor: default;
}

#estudios {
    background-image: url("imgs/estudios.png");
    background-repeat: no-repeat;
    background-position: center 10px;
}

#conocimientos {
    background-image: url("imgs/conocimientos.png");
    background-repeat: no-repeat;
    background-position: center 10px;
}

#contacto {
    background-image: url("imgs/contacto.png");
    background-repeat: no-repeat;
    background-position: center 10px;
}

section {
    font-family: Verdana;
    font-size: 0.8em;
    background-image: url("imgs/lgrey008.jpg");
    width: 100%;
    display: table;
}

.article {
    width: 240px;
    border: 1px solid lightgray;
    background-color: white;
    text-align: center;
    line-height: 1.8em;
    padding: 5px 5px 22px 5px;
    margin: 30px;
    float: left;
}

.article_header {
    border-bottom: 1px solid #999999;
}

h2 {
    padding: 10px;
    font-size: 1.2em;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

footer {
    clear: both;
    color: white;
    font-size: 0.7em;
    text-align: center;
    background-color: #313B44;
    border-top: 6px solid black;
    padding: 15px 0;
}

footer a {
    color: white;
}

